* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;/*Alinha os elementos, um cada canto da página*/
    font-size: 1.5rem;
    background-color: rgb(11, 14, 80);
    padding: 3px;
    margin-right: 25px;
    align-items: center;
    color: aliceblue;
}

ul{
    display: flex;
    list-style: none;/*tirar as bolinhas da lista*/
    gap: 30px;
    margin-right: 25px;
}
section{
    display: flex;
    justify-content: center;
    align-items:center;
}
.texto{
    padding: 30px;
}
.texto h1{
    font-size: 5rem;
    color: rgb(222, 155, 88);
    align-items: end;
}

.imagem img{
    width: 50vw;
    padding-top: 40px ;
}
body{
    background-color: rgb(11, 14, 80);
}
.world{
    color: rgb(11, 14, 80);
    background-color: aliceblue;
}

.textinho{
    color: aliceblue;
    margin-top:150px;
    font: size 1rem;;
}
.btn{
    display: flex;
    gap: 20px;
}
.intro{
    color: aliceblue;
    font-size: 1.5rem;
}
.logo{
    width:4vw;
    margin-left:10px;
}
.laranja{
    color:rgb(222, 155, 88);
}
.singup{
    background-color:rgb(222, 155, 88);
    color:rgb(11, 14, 80);
    border-radius: 5px;
}
.icone{

    background-color: aliceblue;
    width: 150px;
    border-radius: 5px;
    block-size: 9%;
}